header {
height:400px;
text-align: center;
background:yellowgreen;
background-color:yellowgreen;
  color: white;
  font-size: 30px;
}

@media (min-width: 1024px) {
  .page-header {
    width: 25%;
    float: left;
    margin-top: 190px;
    margin-left: 5%;
  }
}
