nav {
  height: 120px;
  background-color: transparent;
  color: #FFFFFF;
  padding: 1.5em;
  font-family: 'Bungee', cursive;
  width: 100vw;
}

@media (min-width: 1024px) {
  nav{
    background-color:yellowgreen;
  }
}
