
  
.forButtonAndCounter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 9px;
  margin-bottom: 50px;
  font-family: Bungee;
}

.button {
  display: flex;
  color: #FFFFFF;
  background-color: #4056A1;
  font-size: 15px;
  padding: 6px 28px;
}

.new-tweet {
width: 90%;
display: inline-block;
padding:20px;
margin-left: 5%;
margin-right: 5%;
}

.counter.error{
  color : red;
}
.tweet-text {
  background-color: #f4f1ec;
  width: 100%;
  padding:10px;
  resize: none;
  border: none;
  border-bottom: 3px solid gray;
}
.label {
  display: flex;
  margin-bottom: 10px;
}

.tweets-container{
  width: 100%;
}

.article {
  width: 100%;
  resize:none;
  background-color:inherit;
  color:black;
  border: solid grey 3px;
  padding: 10px;
  margin-bottom: 10px; 
}

.headers-footers-alignment{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-footer-format{
  height: 20px;
  background-color: transparent;
  color: grey;
  display:flex;
  justify-content: flex-start;
  margin: 20px;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif
}

.tweets-container:hover{
  visibility: visible;
  box-shadow: 10px 10px gray;
}

.header-hover{
  height: 20px;
  background-color: transparent;
  color: grey;
  display:flex;
  justify-content: flex-start;
  margin: 20px;
  visibility: hidden;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif
}

.tweets-container:hover  .header-hover{
  visibility: visible;
  
}
.error-text {
  color: red;
  background-color: transparent;
  border: 2px solid;
  border-color: transparent;
  width: 100%;
  font-size: 16px;
  padding: 1em;
  height: 40px;
  display: none;
}
.right {
  float: right;
  
}



  
